<!--The content below is only a placeholder and can be replaced.-->
<header class="main_h" [ngClass]="{ sticky: stickyHeader, '': !stickyHeader }">
  <div class="row">
    <a href="#" class="logo">نواندیشان افزار</a>
    <div class="mobile-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
        <li><a pageScroll href="#hero">صفحه اصلی</a></li>
        <li><a pageScroll href=".sec02">محصولات</a></li>
        <li><a pageScroll href="#footer">تماس با ما</a></li>
        <li><a pageScroll href=".sec04">درباره ما</a></li>
      </ul>
    </nav>
  </div>
</header>
<div id="hero" style="text-align: center;" class="hero-container">
  <h1>به {{ title }} خوش آمدید</h1>
  <a pageScroll href=".sec01" class="header-nav-btn">بیشتر بخوانید</a>
</div>
<div class="row">
  <div class="content">
    <div class="content-row">
      <h1 class="sec01">بیشتر بخوانید</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        inventore explicabo eaque, perferendis atque unde iure pariatur
        similique laborum soluta ut totam repudiandae in quae, veritatis
        consequatur dignissimos vero harum, impedit nesciunt eveniet quasi.
        Delectus consequuntur ratione cum officiis facilis eligendi molestiae
        perspiciatis nihil reiciendis dolor voluptates vel unde ut tempora
        maiores molestias similique iusto aspernatur soluta minus rerum
        distinctio id, maxime ducimus. Ex earum inventore, dolor debitis
        dignissimos veritatis minima dolorum, in obcaecati laudantium enim
        architecto non hic tenetur quae quia ipsum reiciendis voluptatum maiores
        maxime? Saepe, eveniet itaque. Reiciendis iure placeat, sit porro quidem
        dignissimos enim dolore quo!
      </p>
    </div>

    <div class="content-row">
      <h1 class="sec02">محصولات</h1>
      <div class="products">
        <div class="produc-item">
          <img
            src="../../assets/images/products/koyfin.jpg"
            alt=""
            class="thumb-nail"
          />
          <h2>ابزار نظاره گر بازار</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, eius.</p>
        </div>
        <div class="produc-item">
          <img
            src="../../assets/images/products/financial.jpg"
            alt=""
            class="thumb-nail"
          />
          <h2>ابزارهای مالی</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, eius.</p>
        </div>
        <div class="produc-item">
          <img
            src="../../assets/images/products/ranking.jpg"
            alt=""
            class="thumb-nail"
          />
          <h2>رتبه بندی شرکت ها</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, eius.</p>
        </div>
      </div>
    </div>
    <div class="content-row">
      <h1 class="sec03">همکاری با ما</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        inventore explicabo eaque, perferendis atque unde iure pariatur
        similique laborum soluta ut totam repudiandae in quae, veritatis
        consequatur dignissimos vero harum, impedit nesciunt eveniet quasi.
        Delectus consequuntur ratione cum officiis facilis eligendi molestiae
        perspiciatis nihil reiciendis dolor voluptates vel unde ut tempora
        maiores molestias similique iusto aspernatur soluta minus rerum
        distinctio id, maxime ducimus. Ex earum inventore, dolor debitis
        dignissimos veritatis minima dolorum, in obcaecati laudantium enim
        architecto non hic tenetur quae quia ipsum reiciendis voluptatum maiores
        maxime? Saepe, eveniet itaque. Reiciendis iure placeat, sit porro quidem
        dignissimos enim dolore quo!
      </p>
    </div>
    <div class="content-row">
      <h1 class="sec04">درباره ما</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        inventore explicabo eaque, perferendis atque unde iure pariatur
        similique laborum soluta ut totam repudiandae in quae, veritatis
        consequatur dignissimos vero harum, impedit nesciunt eveniet quasi.
        Delectus consequuntur ratione cum officiis facilis eligendi molestiae
        perspiciatis nihil reiciendis dolor voluptates vel unde ut tempora
        maiores molestias similique iusto aspernatur soluta minus rerum
        distinctio id, maxime ducimus. Ex earum inventore, dolor debitis
        dignissimos veritatis minima dolorum, in obcaecati laudantium enim
        architecto non hic tenetur quae quia ipsum reiciendis voluptatum maiores
        maxime? Saepe, eveniet itaque. Reiciendis iure placeat, sit porro quidem
        dignissimos enim dolore quo!
      </p>
    </div>
  </div>
  <section id="section-a">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta molestiae
      non velit animi tenetur voluptatibus unde, veniam perspiciatis. Commodi
      tempore molestiae, fugit et minima reprehenderit maiores. Ut distinctio
      amet dignissimos quam placeat minus delectus unde fuga autem quidem
      exercitationem sequi temporibus facere aliquid saepe, consectetur culpa
      suscipit rem repudiandae. Error cumque itaque velit excepturi alias
      asperiores recusandae, doloribus omnis dolorem perferendis eos rem officia
      explicabo tempore ut! Ipsa architecto quae explicabo consequuntur dolorem,
      et sit, dolore error repellat vitae corporis? Id et assumenda provident
      cupiditate inventore illo sequi. In nam fugit qui aliquam provident
      reprehenderit vero facilis nostrum voluptatibus id!
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta molestiae
      non velit animi tenetur voluptatibus unde, veniam perspiciatis. Commodi
      tempore molestiae, fugit et minima reprehenderit maiores. Ut distinctio
      amet dignissimos quam placeat minus delectus unde fuga autem quidem
      exercitationem sequi temporibus facere aliquid saepe, consectetur culpa
      suscipit rem repudiandae. Error cumque itaque velit excepturi alias
      asperiores recusandae, doloribus omnis dolorem perferendis eos rem officia
      explicabo tempore ut! Ipsa architecto quae explicabo consequuntur dolorem,
      et sit, dolore error repellat vitae corporis? Id et assumenda provident
      cupiditate inventore illo sequi. In nam fugit qui aliquam provident
      reprehenderit vero facilis nostrum voluptatibus id!
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta molestiae
      non velit animi tenetur voluptatibus unde, veniam perspiciatis. Commodi
      tempore molestiae, fugit et minima reprehenderit maiores. Ut distinctio
      amet dignissimos quam placeat minus delectus unde fuga autem quidem
      exercitationem sequi temporibus facere aliquid saepe, consectetur culpa
      suscipit rem repudiandae. Error cumque itaque velit excepturi alias
      asperiores recusandae, doloribus omnis dolorem perferendis eos rem officia
      explicabo tempore ut! Ipsa architecto quae explicabo consequuntur dolorem,
      et sit, dolore error repellat vitae corporis? Id et assumenda provident
      cupiditate inventore illo sequi. In nam fugit qui aliquam provident
      reprehenderit vero facilis nostrum voluptatibus id!
    </p>
  </section>
  <section id="section-b">
    <div class="box-1">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deserunt?
        Vero, exercitationem. Sit cumque unde debitis optio voluptate quas
        commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deserunt?
        Vero, exercitationem. Sit cumque unde debitis optio voluptate quas
        commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deserunt?
        Vero, exercitationem. Sit cumque unde debitis optio voluptate quas
        commodi.
      </p>
    </div>
    <div class="box-2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deserunt?
        Vero, exercitationem. Sit cumque unde debitis optio voluptate quas
        commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deserunt?
        Vero, exercitationem. Sit cumque unde debitis optio voluptate quas
        commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deserunt?
        Vero, exercitationem. Sit cumque unde debitis optio voluptate quas
        commodi.
      </p>
    </div>
    <div class="box-3">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deserunt?
        Vero, exercitationem. Sit cumque unde debitis optio voluptate quas
        commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deserunt?
        Vero, exercitationem. Sit cumque unde debitis optio voluptate quas
        commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deserunt?
        Vero, exercitationem. Sit cumque unde debitis optio voluptate quas
        commodi.
      </p>
    </div>
  </section>
  <section id="section-c">
    <div class="dis-1">
      <h1>ما شمارا پولدار خواهیم کرد...</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
        deserunt.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
        deserunt.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
        deserunt.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
        deserunt.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
        deserunt.
      </p>
    </div>
    <div class="img-1">
      <img src="../../assets/images/img-1.jpg" alt="" />
    </div>
  </section>
</div>

<section id="footer">
  <h1>تماس با ما</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, magni.</p>
</section>
